@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

.wrapper {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
}

nav {
	max-width: 1440px;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    width: 100%;
    position: absolute;
}

.nav-logo {
	border-radius: 5px;
}
nav ul li {
	display: inline-block;
	margin-right: 30px;
}

nav ul li a {
	color: #fff;
}
.section-container {
	max-width: 1440px;
	padding: 0 50px;
	@apply mx-auto;
}

.header-section {
	width: 100%;
	height: 450px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-content {
	@apply text-foreground;
	text-align: center;
}
.header-section h2 {
	font-size: 45px;
	font-weight: 600;
}

.hero-book-form {
	max-width: 1440px;
    margin: 0 auto;
	width: 100%;
	border-radius: 20px;
	height: auto;
	padding: 30px 50px;
}
.hero-book-form form {
	@apply bg-white shadow-small rounded;
	padding: 20px 0px;
	margin-top: -80px;
	position: relative;
}
.hero-book-form form .fieldset {
	width: 85%;
	padding: 0 20px;
	display: flex;
	gap: 10px;
}
.hero-book-form form .book-btn {
	@apply bg-primary rounded;
	position: absolute;
	right: 0;
	top: 0;
	width: 15%;
	height: 100%;
	font-size: 18px;
	color: #fff;
	font-weight: 600;
}
::placeholder {
	color: red;
}

.diy-card {
	width: 300px;
	@apply py-4;
}

.guided-card {
	width: auto;
	height: auto;
	@apply py-4;
}

.guided-header-content {
	width: 95%;
}
.guided-header-button {
	position: absolute;
	right: 0;
	width: auto;
	text-align: right;
}
.tour-container {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 30px;
	display: flex;
	gap: 10px;
}
.tour-content {
	width: 65%;
}
.tour-content h3 {
	@apply text-black;
	font-size: 23px;
	font-weight: 500;
	line-height: 45px;
}
.tour-content p {
	@apply text-gray-600;
}
.tour-book-form {
	width: 35%;
}

.reservation-navbar {
	width: 100%;
	padding: 15px 0;
	@apply text-black bg-white shadow;
	/* box-shadow: 0px 5px 10px #000; */
}

.reservation-steps-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.reservation-steps-main ul {
	width: 600px;
}
.reservation-steps-main ul li {
	display: inline-block;
	width: 32%;
	text-align: center;
	border-top: 3px solid lightgray;
	padding-top: 10px;
}
.reservation-steps-main ul li.active {
	border-top: 3px solid #ab2001;
}
.cart-main {
	width: 100%;
	padding: 10px 0;
	@apply text-black bg-white;
}
.cart-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 20px;
}
.cart-list {
	width: 70%;
}
.reservation-tour-item {
	@apply text-black bg-white shadow-md px-4 py-4 w-full rounded flex justify-between gap-4 mb-5;
}
.reservation-tour-main-content {
	width: 75%;
}
.reservation-tour-content {
	width: 100%;
	height: 80%;
}
.reservation-tour-content-action {
	height: 20%;
	/* border-top: 1px solid #000; */
	@apply py-1;
}

.cart-form {
	@apply bg-white text-black p-2 px-5 shadow-md rounded;
	width: 30%;
}

.checkout-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 20px;
}

.checkout-details {
	width: 70%;
}
.checkout-summary {
	@apply bg-white text-black p-4 shadow rounded;
	width: 30%;
}

/* .tour-items-list {
	width: 70%;
} */

.customer-detail-form {
	@apply bg-white text-black p-5 shadow w-full rounded;
}
.phone-number-input {
	@apply h-14 min-h-unit-10 bg-default-100 px-4 rounded;
}

.PhoneInput input {
	height: 100%;
	background: transparent;
	outline: none;
}

.footer {
	width: 100%;
	padding: 10px;
	background: #ab2001 !important;
}

.login-main-container {
	width: 100%;
	height: 100vh;
	display: flex;
}

.login-content-container {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 25px 55px;
	flex-direction: column;
	gap: 30px;
}
.login-form {
	width: 100%;
}

.login-image-container {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	color: #fff;
	gap: 20px;
}
.login-image-container h2 {
	width: 75%;
	text-align: center;
}

@media screen and (max-width: 768px) {
	.hero-book-form {
		display: none;
	}
	.diy-card {
		width: 200px;
		height: 100%;
	}
}

@media screen and (max-width: 640px) {
	.header-section {
		padding: 10px 20px;
	}
	.header-content h2 {
		font-size: 30px;
		margin-bottom: 10px;
	}
	.section-container {
		padding: 0px 20px !important;
	}
	.diy-card {
		width: 150px !important;
		height: 100%;
		padding: 0 !important;
	}
	.guided-card {
		width: 150px !important;
		height: auto;
		padding: 0 !important;
	}
	.diy-card h4 {
		font-size: 15px !important;
		display: none;
	}
	.diy-card small {
		display: none;
	}
	.guided-card h4 {
		display: none;
	}
	.guided-card small {
		display: none;
	}
}